/* Общие стили */

html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family:"Open Sans",sans-serif;
	font-size: 16px;
	font-weight: 400;
    line-height: 32px;
}

a{
    text-decoration: none;
}

a:active,a:visited,a:checked{
    color: #ffffff;
}

img{
	max-width: 100%;
}

:root {
    --swiper-navigation-size: 10px;
    --swiper-theme-color: #fff;
}

.list-reset{
	margin: 0;
	padding: 0;
	list-style: none;
}

.container{
    margin: 0 auto;
    width: 1603px;
}

.main-caption{
	font-size: 48px;
    font-weight: 400;
    font-style: normal;
    line-height: 65px;
    color: #333333;
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
}

.caption-hidden{
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border:  0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

/* Стили шапки */

.menu-nav{
    color: #ffffff;
    display: flex;
}

.header{
    margin-bottom: 71px;
}

.header-position{
    display: flex;
    align-items: center;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container{
    display: flex;
}

.logo{
    margin-right: 179px;
}

.menu-list-nav-menu{
    margin-right: 278px;
    padding-top: 3px;
}

.position-btn-sign-in{
    margin-left: auto;
    margin-right: 0;
}

.menu-nav__item:not(:last-child){
    margin-right: 63px;
}

.menu-nav__link{
   color: #ffffff;
}

.menu-nav__item{
    font-size: 18px;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.menu-nav__link:hover{
    color: #C283F3;
}

.menu-nav__link:active{
    color: #7943A4;
}

.menu-nav__link:focus,.sign-in-btn:focus,.search-input:focus,.search-button:focus{
    color: #ffffff;
    outline: 1px solid #7943A4;
}

.sign-in-btn{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: unset;
    background: url('../img/sign-in-arrow.svg') 0% 50% no-repeat;
    text-align: right;
    padding-left: 18px;
    padding-right: 0px;
    transition: background 0.2s ease-in-out;
}

.sign-in-btn:hover{
    color: #C283F3;
    background-color: unset;
    background: url('../img/hover-sign-in.svg') 0% 50% no-repeat;
}

.sign-in-btn:active{
    color: #9D5CD0;
    background: url('../img/active-sign-in.svg') 0% 50% no-repeat;
}

.top-banner{
    margin-top: 30px;
    height: 700px;
}

.first-slider{
    width: 100%;
    height: 700px;
    top: 100px;
    position: absolute;
}

.first-slider-1{
    background: url('../img/first-slider-slide-1.png') no-repeat;
    background-size: cover;
}

.first-slider-2{
    background: url('../img/first-slider-slide-2.png') no-repeat;
    background-size: cover;
}

.first-slider-3{
    background: url('../img/first-slider-slide-3.png') no-repeat;
    background-size: cover;
}

.slider-text{
    margin-bottom: 193px;
}

.slider-text__position{
    position: relative;
    z-index: 2;
    width: 605px;
}

.slider-text__caption{
    font-size: 72px;
    font-weight: 700;
    line-height: 82px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
}

.slider-text__description{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 92px;
}

.slider-text__btn{
    width: 314px;
    height: 70px;
    border: 3px solid #9D5CD0;
    border-radius: 100px;
    background-color: #9D5CD0;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    transition-property: border,background-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slider-text__btn:hover{
    border: 3px solid #D1A9F0;
}

.slider-text__btn:active{
    background-color: #7943A4;
    border: 3px solid #D1A9F0;
}

.under-menu{
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.under-menu-position{
    display: flex;
    padding-top: 20px;
    padding-bottom: 19px;
}

.under-menu__list{
    display: flex;
    margin-right: auto;
}

.under-menu__item:not(:last-child){
    margin-right: 82px;
}

.under-menu__btn{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: unset;
    padding-right: 23px;
    position: relative;
    background: url('../img/under-menu-arrow.svg') 100% 56% no-repeat;
    background-size: 14px 14px;
    transition-property: color,background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.under-menu__btn:hover{
    color: #9D5CD0;
    background: url('../img/under-btn-arrow-hover.svg') 100% 50% no-repeat;
    background-size: 14px 14px;
}

.under-menu__btn:active{
    color: #7943A4;
    background: url('../img/under-menu-active-btn.svg') 100% 100% no-repeat;
    background-size: 14px 14px;
}

.under-menu__btn:active{
    color: #7943A4;
}

.search {
    position: relative;
    min-width: 218px;
    max-height: 26px;
}

.search-input{
    width: 221px;
    background-color: unset;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    cursor: pointer;
    color: #ffffff;
    transition: border 0.2s ease-in-out;
}

.search-input::placeholder{
    color:  rgba(255, 255, 255, 0.85);
}

.search-button{
    width: 22px;
    height: 22px;
    border: none;
    position: relative;
    top: 7px;
    left: -4px;
    background: url('../img/search.svg') 50% no-repeat;
    cursor: pointer;
    outline: none;
    filter: #fff;
    transition: background 0.2s ease-in-out;
}

.search:hover .search-button{
    background: url('../img/active-search.svg') 50% no-repeat;
}

.search:hover .search-input{
    border-bottom: 1px solid #C283F3;
}

.search:focus .search-button{
    background: url('../img/active-search.svg') 50% no-repeat;
}

.search:active .search-input{
    border-bottom: 1px solid #ffffff;
}

@keyframes heroSection {
    from {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      to {
        transform: scale(1);
      }
}

.btn-active{
    color: #7943A4;
    background: url('../img/under-menu-active-btn.svg') 100% 100% no-repeat;
    background-size: 14px 14px;
}

.first-slider .swiper-slide-active{
    animation: heroSection 5s infinite ease;
    animation-fill-mode: forwards;
}

.simplebar-content-wrapper {
    overflow: auto;
}

.simplebar-scrollbar:before{
    content: "";
    width: 2px;
    background:#ffffff;
    border-radius: 5px;
    opacity: 1;
    left: 1px;
}

.simplebar-track.simplebar-vertical:hover{
    background-color: #ffffff;
    opacity: 1;
}

.simplebar-track{
    width: 2px;
    background: #000;
    border-radius: 5px;
}

.dropdown{
    width: 300px;
    max-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    position: absolute;
    top: 70px;
    transition: display 0.9s ease-in-out;
}

.dropdown-active{
    outline: none;
    display: block;
}

.dropdown__list{
    margin: 0 auto;
    width: 240px;
    max-height: 220px;
    overflow: auto;
}

.dropdown__item:not(:last-child){
    margin-bottom: 20px;
}

.dropdown__btn{
    width: 220px;
    height: 40px;
    text-align: left;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.drop-1-1{
    background: url('../img/drop-1-1.png') no-repeat;
    background-size: cover;
}

.drop-1-2{
    background: url('../img/drop-1-2.png') no-repeat;
    background-size: cover;
}

.drop-1-3{
    background: url('../img/drop-1-3.png') no-repeat;
    background-size: cover;
}

.drop-1-4{
    background: url('../img/drop-1-4.png') no-repeat;
    background-size: cover;
}

.drop-1-5{
    background: url('../img/drop-1-2.png') no-repeat;
    background-size: cover;
}

.drop-1-6{
    background: url('../img/drop-1-1.png') no-repeat;
    background-size: cover;
}






.drop-2-1{
    background: url('../img/drop-2-1.png') no-repeat;
    background-size: cover;
}

.drop-2-2{
    background: url('../img/drop-2-2.png') no-repeat;
    background-size: cover;
}

.drop-2-3{
    background: url('../img/drop-2-3.png') no-repeat;
    background-size: cover;
}

.drop-2-4{
    background: url('../img/drop-2-4.png') no-repeat;
    background-size: cover;
}

.drop-2-5{
    background: url('../img/drop-2-2.png') no-repeat;
    background-size: cover;
}

.drop-2-6{
    background: url('../img/drop-2-3.png') no-repeat;
    background-size: cover;
}





.drop-3-1{
    background: url('../img/drop-3-1.png') no-repeat;
    background-size: cover;
}

.drop-3-2{
    background: url('../img/drop-3-2.png') no-repeat;
    background-size: cover;
}

.drop-3-3{
    background: url('../img/drop-3-3.png') no-repeat;
    background-size: cover;
}

.drop-3-4{
    background: url('../img/drop-3-4.png') no-repeat;
    background-size: cover;
}

.drop-3-5{
    background: url('../img/drop-3-2.png') no-repeat;
    background-size: cover;
}

.drop-3-6{
    background: url('../img/drop-3-3.png') no-repeat;
    background-size: cover;
}



.drop-4-1{
    background: url('../img/drop-4-1.png') no-repeat;
    background-size: cover;
}

.drop-4-2{
    background: url('../img/drop-4-2.png') no-repeat;
    background-size: cover;
}

.drop-4-3{
    background: url('../img/drop-4-3.png') no-repeat;
    background-size: cover;
}

.drop-4-4{
    background: url('../img/drop-4-4.png') no-repeat;
    background-size: cover;
}

.drop-4-5{
    background: url('../img/drop-4-2.png') no-repeat;
    background-size: cover;
}

.drop-4-6{
    background: url('../img/drop-4-3.png') no-repeat;
    background-size: cover;
}







.drop-5-1{
    background: url('../img/drop-5-1.png') no-repeat;
    background-size: cover;
}

.drop-5-2{
    background: url('../img/drop-5-2.png') no-repeat;
    background-size: cover;
}

.drop-5-3{
    background: url('../img/drop-5-3.png') no-repeat;
    background-size: cover;
}

.drop-5-4{
    background: url('../img/drop-5-4.png') no-repeat;
    background-size: cover;
}

.drop-5-5{
    background: url('../img/drop-5-2.png') no-repeat;
    background-size: cover;
}

.drop-5-6{
    background: url('../img/drop-5-3.png') no-repeat;
    background-size: cover;
}




/* Стили основного контента */

.section-about{
    padding-top: 10px;
    padding-bottom: 53px;
}

.about-text{
    width: 1080px;
    line-height: 32px;
    color: #333333;
}


.section-gallery{
    padding-top: 82px;
    padding-bottom: 69px;
    background: url('../img/galary-back.png') 50% 50%no-repeat;
    background-size: cover;
}

.gallery__caption{
    color: #ffffff;
    margin-bottom: 24px
}

.gallery-position{
    display: flex;
}

.gallery-filter{
    width: 401px;
    margin-right: auto;
}

.gallery-filter__form{
    margin-bottom: 555px;
}

.gallery-filter__label{
    font-weight: 600;
    color: #ffffff;
    position: relative;
    top: -9px;
}



.gallery-filter__text{
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    width: 390px;
}

.choices__inner{
    background-color: unset;
    padding-left: 15px;
    border-radius: 6px;
    height: 40px;
    padding: 0;
    min-height: unset;
    padding-left: 0px;
}

.choices__item{
    height: 40px;
    padding: 0;
    min-height: unset;
    padding-left: 12px;
}

.choices__list--dropdown .choices__item{
    padding: 0;
    padding-top: 5px;
}

.is-open .choices__inner{
    border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable{
    padding-left: 20px;
}

.choices__item:not(:last-child){
    border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
    background-color: unset;
}

.choices.is-open{
    border-radius: 6px;
}

#choices--selectCustom-item-choice-1{
    display: none;
}

.choices__list--dropdown{
    background-color: unset;
    color: #999999;
    font-size: 16px;
    border: 1px solid #999999;
    border-radius: 6px;
    margin-top: 2px;
}

.is-open .choices__list--dropdown{
    border: 1px solid #999999;
}

.choices__list--single .choices__item{
    color: #fff;
    font-size: 16px;
}

.choices[data-type*=select-one]:after{
    width: 16px;
    height: 16px;
    border-style: unset;
    background: url('../img/filter-arrow.svg') no-repeat;
    background-size: 100%;
    margin-top: 0px;
    top: 30%;
}

.choices[data-type*=select-one].is-open:after{
    margin-top: 0px;
}


.gallery-preview{
    width: 1151px;
}

.gallery-slide{
    width: 350px;
    height: 350px;
    position: relative;
}

.second-slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 83px;
    z-index: 9999;
    position: relative;
}

.gallery-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 50px) / 2);
}

.swiper-pagination-fraction{
    top: 24px;
    left: 41px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    max-width: 50px;
}


.swiper-button-next{
    color: rgba(0, 0, 0, 0.0);
}

.swiper-button-next-gallery{
    left: 103px;
    top: 28px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 100%;
    color: #ffffff;
    transition-property: border,background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.swiper-button-prev-gallery{
    top: 28px;
    left: 3px;
    width: 30px;
    height: 30px;
    background-color: #666666;
    border-radius: 100%;
    transition-property: border,background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.swiper-button-next-gallery:active{
    background-color: #7943A4;
    border: 2px solid #D1A9F0;
    border-radius: 100px;
}

.swiper-button-prev-gallery:active{
    border: 2px solid #D1A9F0;
    border-radius: 100px;
    background-color: #7943A4;
}

.swiper-button-next-gallery:hover,.swiper-button-prev-gallery:hover{
    background-color: #9D5CD0;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    pointer-events: none;
    cursor: pointer;
}

.gallery-slide{
    cursor: pointer;
}

.gallery-slide:hover .hover-slider{
    opacity: 1;
}

.gallery-slide:active .hover-slider{
    opacity: 1;
}

.gallery-slide:active::after{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.gallery-slide::after{
    content: "";
    width: 350px;
    height: 353px;
    display: block;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 10;
}

.gallery-slide-1{
    background: url('../img/second-slider-slide-1.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-2{
    background: url('../img/second-slider-slide-2.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-3{
    background: url('../img/second-slider-slide-3.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-4{
    background: url('../img/second-slider-slide-4.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-5{
    background: url('../img/second-slider-slide-5.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-6{
    background: url('../img/second-slider-slide-6.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-7{
    background: url('../img/second-slider-slide-7.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-8{
    background: url('../img/second-slider-slide-8.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-9{
    background: url('../img/second-slider-slide-9.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-10{
    background: url('../img/second-slider-slide-10.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-11{
    background: url('../img/second-slider-slide-11.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-12{
    background: url('../img/second-slider-slide-12.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-13{
    background: url('../img/second-slider-slide-13.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-14{
    background: url('../img/second-slider-slide-14.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-15{
    background: url('../img/second-slider-slide-15.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-16{
    background: url('../img/second-slider-slide-16.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-17{
    background: url('../img/second-slider-slide-17.jpg') no-repeat;
    background-size: cover;
}

.gallery-slide-18{
    background: url('../img/second-slider-slide-18.jpg') no-repeat;
    background-size: cover;
}

.swiper-pagination{
    z-index: -1;
}

.hover-slider{
    width: 300px;
    height: 300px;
    /* margin: 25px auto; */
    background: url('../img/hover-slider.svg') 50% no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 11;
    transition: opacity 0.3s ease-in-out;
}

.gallery-filter__text-position .gallery-filter__link{
    color: #C283F3;
    transition-property: border,color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.gallery-filter__text-position .gallery-filter__link:hover{
    color: #9D5CD0;
    border-bottom: 1px solid #9D5CD0;
}

.gallery-filter__text-position .gallery-filter__link:active{
    color: #7943A4;
    border-bottom: 1px solid #7943A4;
}


.section-catalog{
    padding-top: 80px;
    padding-bottom: 80px;
}

.catalog-countries__list{
    display: flex;
}

.catalog-caption{
    margin-right: 41px;
}

.tabs-position{
    display: flex;
    align-items: center;
}

.tabs-btn{
    width: 46px;
    height: 46px;
    border-radius: 50px;
    position: relative;
}

.tabs-btn:hover{
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.tabs-btn:active{
    border: 2px solid #9D5CD0;
    filter: none;
}

.open:hover{
    filter: none;
}

.open::after{
    content: "";
    width: 66px;
    height: 66px;
    border-radius: 100%;
    border: 2px solid #9D5CD0;
    position: absolute;
    left: -10px;
    top: -10px;
}

.countries-btn__fra{
    background: url('../img/france.png') 50% no-repeat;
}

.countries-btn__germ{
    background: url('../img/germani.png') 50% no-repeat;
}

.countries-btn__italy{
    background: url('../img/italy.png') 50% no-repeat;
}

.countries-btn__rus{
    background: url('../img/russia.png') 50% no-repeat;
}

.countries-btn__belg{
    background: url('../img/belgia.png') 50% no-repeat;
}

.catalog-countries__item:not(:last-child){
    margin-right: 50px;
}

.biography{
    width: 750px;
    margin-right: 50px;
}

.position-biography{
    display: flex;
    align-items: flex-start;
}

.list-artists-position{
    width: 800px;
}

.tab-content{
    display: none;
    transition-property: border,background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.tab-content-active{
    display: block;
    transition-property: border,background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.tabs-text{
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 39px;
    width: 1080px;
    margin-top: 0px;
}

.artists-name{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin: 0;
    margin-bottom: 8px;
}

.biography-date{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    margin-bottom: 7px;
    margin-top: 0;
}

.germani-biographi-state,.france-biographi-state,.italy-biographi-state,.russia-biographi-state,.belgia-biographi-state{
    display: none;
}

.biography-description{
    font-weight: 400;
    color: #333333;
    margin: 0;
}

.list-artists-link{
    margin: 0;
    border-top: 1px solid #CACACA;
    padding-top: 39px;
    padding-bottom: 42px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    position: relative;
    outline: none;
    cursor: pointer;
    transition-property: color,border-top,border-bottom,background-color;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.list-artists-link:hover{
    color: #9D5CD0;
    border-top: 1px solid #9D5CD0;
    border-bottom: 0.1px solid #9D5CD0;
}

.list-artists-link:hover .ui-icon{
    background-image: url("../img/arrow-gallery-acor.svg");
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 23px;
    background-color: #9D5CD0;
}

.ui-state-active{
    transition-property: color,border-top,border-bottom,background-color;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.ui-state-active,.ui-state-active:hover{
    color: #7943A4;
    border-top: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
}

.ui-state-active .ui-icon,.ui-state-active:hover .ui-icon{
    background-image: url("../img/arrow-gallery-activ-acor.svg");
    background-repeat: no-repeat;
    background-position: 48% 60%;
    background-size: 23px;
    background-color: #7943A4;
    border: 2px solid #9D5CD0;
}

.list-artists-link:last-of-type{
    border-bottom: 1px solid #CACACA;
}

.ui-icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    background-color: #ECECEC;
    right: 0px;
    top: 28px;
    position: absolute;
    z-index: -1;
    background-image: url("../img/arrow-catalog-active.svg");
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 23px;
}


.artists__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    max-width: 800px;
    padding: 0;
}

.artists__list li{
    width: 308px;
}

.artists__btn{
    background-color: unset;
    color: #333;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0px;
    border-bottom: 1px solid #fff;
    transition-property: color,border-bottom;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.artists__btn:hover{
    color: #9D5CD0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #9D5CD0;
}

.artists__btn:active{
    color: #7943A4;
    border-bottom: none;
}

.ui-accordion-content{
    padding-top: 25px;
    padding-bottom: 38px;
}

.biography-img{
    width: 750px;
    height: 470px;
    margin-bottom: 20px;
}

.biographi-state{
    display: none;
}

.open,.open-biograph{
    display: block;
}

.active-btn{
    color: #9D5CD0;
    font-weight: 600;
}



.section-events{
    padding-bottom: 64px;
}

.position-card-events{
    display: flex;
    flex-wrap: wrap;
}

.card-event{
    width: 500px;
    min-height: 700px;
    padding-top: 300px;
    background: url('../img/events-1.png') 100% 0% no-repeat;
    background-size: 500px 300px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.card-event:nth-child(3n){
    margin-right: 0px;
}

.card-event:nth-child(6n){
    margin-bottom: 0px;
}

.text-position-event{
    width: 400px;
    margin: 0 auto;
}

.border-text-card{
    padding-top: 13px;
    border: 1px solid #CACACA;
    border-top: none;
    padding-bottom: 40px;
}

.card-event-museum{
    text-align: right;
    width: 135px;
    position: relative;
    left: 24em;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin: 0;
}

.card-events-caption{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 5px;
}

.card-events-text{
    color: #333;
    margin: 0;
    margin-bottom: 82px;
}

.card-event a{
    border-bottom: 1px solid #9D5CD0;
    color: #9D5CD0;
    padding-bottom: 5px;
    transition: 0.2s ease-in-out;
}

.event-btn-position{
    text-align: center;
}

.event-btn{
    width: 188px;
    height: 59px;
    color: #9D5CD0;
    border-radius: 100px;
    border: 2px solid #9D5CD0;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    transition: 0.2s ease-in-out;
}

.event-btn:hover{
    color: #fff;
    background-color: #9D5CD0;
    border:none;
}

.event-disable{
    display: none;
}

.event-active{
    display: block;
}

.card-events-link:hover{
    color: #9D5CD0;
    font-weight: 700;
    border-bottom: 1px solid #9D5CD0;
}

.card-events-link:active{
    color: #7943A4;
    font-weight: 700;
    border-bottom: 1px solid #7943A4;
}

.section-publications{
    background: url('../img/publications-back.png') 0% 0% no-repeat;
    background-size: cover;
    padding-top: 96px;
    padding-bottom: 63px;
}

.parthners-caption-slider{
    font-size: 25px;
    margin: 0;
    margin-bottom: 22px;
}

.publications-position{
    display: flex;
    align-items: flex-start;
}

.publications-filter{
    width: 278px;
}

.publications-text-card{
    color: #ffffff;
}

.publications-caption{
    color: #ffffff;
    margin-bottom: 14px;
}

.publications-filter{
    margin-right: 173px;
}

.publications-card{
    display: flex;
    align-items: flex-start;
}

.publications-preview{
    width: 1151px;
}

.publications-slide{
    width: 350px;
    height: 350px;
    position: relative;
    background: url('../img/three-slider-slide-1.png') 100% 0% no-repeat;
    background-size: 350px 390px;
    padding-top: 413px;
}

.three-slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    z-index: 9999;
    position: relative;
}

.publications-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 50px) / 2);
}


.publications-card-description-position{
    margin-right: auto;
    text-align: left;
}

.publications-card-caption{
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 0px;
}

.publications-text-card{
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 16px;
}

.publications-price{
    font-style: italic;
    font-weight: normal;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    font-size: 15px;
}

.form-publications-categori{
    margin: 0;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
}

.publications-btn{
    width: 105px;
    height: 34px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    background-color: unset;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
}

.publications-btn:hover{
    background-color: #9D5CD0;
}

.publications-btn:active{
    background-color: #7943A4;
    border: 3px solid #D1A9F0;
}

.label {
    position: relative;
    display:block;
    cursor: pointer;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
  }
  
  .checkbox {
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-span {
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
  
  .checkbox-span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
  }
  
  .checkbox-span::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: #C283F3;
    top: 14px;
    right: 0;
    bottom: 0;
    left: 4px;
    opacity: 0;
    transition: opaciti .3s ease-in-out;
    text-align: center;
  }
  
  .checkbox:checked + .checkbox-span {
    color: #C283F3;
  }

  .checkbox:active + .checkbox-span {
    color: #C283F3;
  }

  .checkbox:active + .checkbox-span::before{
      border: 1px solid #C283F3;
  }
  
  .checkbox:checked + .checkbox-span::after {
    opacity: 1;
  }


/* .label{
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
}

.label-active{
    color: #C283F3;
}

.checkbox{
    display: none;
}

.checkbox + span {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 9px;
    left: 0;
    border: 1px solid #fff;
}

.checkbox:checked + span {
    border: 1px solid #C283F3;
}

.checkbox + span::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #C283F3;
    top: 3px;
    right: 0;
    bottom: 0;
    left: 3px;
    opacity: 0;
    transition: opaciti .3s ease-in-out;
    text-align: center;
}
 
.checkbox:checked + span::before{
    opacity: 1;
} */

.price-filter-position{
    width: 279px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    background-color: unset;
    padding-left: 10px;
    padding-right: 10px;
}

.input-price{
    width: 73px;
    height: 40px;
    background: rgba(157, 92, 208, 0.5);
    color: #fff;
    padding-left: 10px;
}

.input-price:not(:last-child){
    margin-right: 7px;
}

.price-filter-text{
    color: #fff;
}

.price-filter-text:not(:last-child){
    margin-right: 10px;
}

.price-filter-caption{
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}

.price-filter{
    margin-top: 25px;
}

.publish-prev{
    top: 35px;
    left: 0px;
}

.publish-next{
    top: 35px;
    right: 0px;
    left: 100px;
}

.section-project{
    padding-top: 93px;
    padding-bottom: 80px;
    position: relative;
}

.position-slider .swiper-pagination-fraction{
    top: 31px;
    left: -510px;
}

.project-text{
    margin: 0;
    color: #333;
    text-align: left;
    width: 1080px;
    margin-bottom: 21px;
}

.tooltip-position{
    position: relative;
}

.text-tooltip-position{
    margin-right: 20px;
}

.tooltip-1,.tooltip-2,.tooltip-3{
    width: 16px;
    height: 16px;
    background: #9D5CD0;
    display: block;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

.tooltip-1{
    top: -169px;
    left: 292px;
}

.tooltip-2{
    top: -137px;
    right: 580px;
}

.tooltip-3{
    top: -105px;
    left: 448px;
}

.tooltip-1::after,.tooltip-2::after,.tooltip-3::after{
    content: "i";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 6.5px;
    right: 0;
    top: -8px;
    font-size: 14px;
    color: #fff;
}

.tooltip-1-hover,.tooltip-2-hover,.tooltip-3-hover{
    max-width: 264px;
    min-height: 31px;
    text-align: center;
    font-size: 12px;
    line-height: 16.5px;
    background-color: #CACACA;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
}

.tooltip-1-hover{
    top: -254px;
    left: 18.2%;
}

.tooltip-2-hover{
    top: -206px;
    left: 62.8%;
}

.tooltip-3-hover{
    top: -205px;
    left: 28%;
}

.tooltip-1-hover::before,.tooltip-2-hover::before,.tooltip-3-hover::before{
    content: " ";  
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    background-color: #cacaca;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
    bottom: -7px;
    z-index: 10;
    left: 50%;
}

.tooltip-1:hover + .tooltip-1-hover,
.tooltip-1:focus + .tooltip-1-hover,
.tooltip-2:hover + .tooltip-2-hover,
.tooltip-2:focus + .tooltip-2-hover,
.tooltip-3:hover + .tooltip-3-hover,
.tooltip-3:focus + .tooltip-3-hover
{
    opacity: 1;
}

.project-text a {
    color: #9D5CD0;
    font-weight: 600;
}

.project-text a:hover{
    border-bottom: 1px solid #9D5CD0;
}

.project-text a:active{
    color: #7943A4;
    border-bottom: 1px solid #7943A4;
}

.four-slider-container{
    width: 1450px;
    padding-right: 0px;
    padding-left: 0px;
}

.four-slide{
    height: 150px;
    border: 1px solid #CACACA; 
    background: url('../img/parthners-1.png') 50% 50% no-repeat;
    background-color: #fff;
    background-size: 244px 63px;
    /* margin-right: 20px; */
}

.position-slider{
    position: relative;
}

.swiper-button-next-project{
    top: 60px;
    right: 0px;
}

.swiper-button-prev-project{
    top: 60px;
    left: 0px;
}

.three-slider .swiper-pagination-fraction{
    top: 30px;
}

.swiper-button-next-project::after{
    content: "";
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    background: url('../img/arrow-slider.svg') 50% no-repeat;
    z-index: 6;
    transform: rotate(180deg);
}

.swiper-button-prev-project::after{
    content: "";
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    background: url('../img/arrow-slider.svg') 50% no-repeat;
    z-index: 6;
}

.swiper-button-next-project,.swiper-button-prev-project{
    width: 30px;
    height: 30px;
    background-color: #ECECEC;
    border-radius: 20px;
    position: absolute;
    z-index: 5;
    outline: none;
    cursor: pointer;
}

.position-contacts{
    border-top: 1px solid #CACACA; 
    position: relative;
    display: flex;
}

.form-contacts{
    width: 700px;
    padding-top: 122px;
    padding-bottom: 113px;
}

#map{
    position: absolute;
    top: 0;
    right: 0;
}

[class*="ground-pane"]{
    filter: grayscale(1);
}


.map-position{
    position: relative;
}

.contacts-input{
    display: block;
    background-color: #fff;
    width: 400px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 100px;
    padding-left: 25px;
    padding-right: 10px;
    outline: none;
    margin-bottom: 23px;
}

.contacts-input::placeholder{
    color: #999999;
}

.contact-form-btn{
    width: 157px;
    height: 59px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    background-color: unset;
    color: #9D5CD0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 38px;
}

.contact-form-btn:hover{
    background-color: #9D5CD0;
    color: #fff;
}

.form-contacts-caption{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin: 0;
    margin-bottom: 3px;
}

.form-contacts-adress{
    color: #333;
    margin: 0;
    margin-bottom: 28px
}

.form-contacts-legend{
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin: 0;
    margin-bottom: 16px
}

.social-caption{
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin: 0;
    margin-bottom: 13px;
}

.social__list{
    display: flex;
}

.social__link{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100%;
    transition: transform 0.2s ease-in-out;
}

.social__link:hover{
    transform: scale(1.2);
}

.social-whatsap{
    background: url('../img/wats-app.svg') 50% no-repeat;
    background-color: #30BF39;
}

.social-teleg{
    background: url('../img/telegram.svg') 35% 55% no-repeat;
    background-color: #2AABEE;
}

.social__item:not(:last-child){
    margin-right: 20px;
}





















/* Стили footer */

.footer{
    padding-top: 50px;
    min-height: 140px;
    background-color: #000000;
}

.footer-social__list{
    display: flex;
}

.footer-social__item:not(:last-child){
    margin-right: 20px;
}

.footer-social__link{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    background-color: #CACACA;
}

.footer-vk{
    background: url('../img/social-vk.svg') 50% no-repeat;
}

.footer-inst{
    background: url('../img/social-inst.svg') 50% no-repeat;
}

.footer-fb{
    background: url('../img/social-fb.svg') 50% no-repeat;
}

.footer-container{
    display: flex;
}

.social-footer-position{
    margin-left: auto;
}

.hide{
    display: none;
}

/* Адаптив */
@media (max-width: 1024px){
    .container{
        /* max-width: 690px; */
    }
}

@media (max-width: 667px){
    .container{
        /* max-width: 345px; */
    }
}

@media (max-width: 320px){
    .container{
        /* max-width: 310px; */
    }
}